<header class="header">
  <nav class="nav">
    <a href="./" class="logo">
      <img src="./assets/images/logo.png" alt="Airbnb" title="Bienvenid@ a Airbnb" class="logo__img" />
    </a>

    <ul class="menu">
      <li class="menu__item">
        <a href="#search" class="menu__link" title="Buscar">Buscar</a>
      </li>
      <li class="menu__item">
        <a href="./signup.html" class="menu__link" title="Regístrate">Regístrate</a>
      </li>
      <li class="menu__item">
        <a href="./host.html" class="menu__link" title="Hazte anfitrión">Hazte anfitrión</a>
      </li>
    </ul>
  </nav>

  <div class="hero">
    <div class="hero__inner">
      <div class="title">
        <h1 class="title__text">Reserva alojamientos y experiencias únicas.</h1>
      </div>
      <div class="search-form">
        <form action="" method="POST">
          <label for="place" class="search-form__place">
            ¿Dónde quieres viajar?
          </label>
          <input type="text" class="search-form__input" />
          <div class="search-form__buttons">
            <input type="submit" class="button--success button" value="Buscar" />
            <input type="reset" class="button--cancel button" value="Limpiar" />
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
