<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>blog</title>
  <link rel="icon" href="favicon.png"/>
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="page">
    <div class="page-column"></div>
    <div class="page-header">
      <partial src="_header.html"></partial>
    </div>
    <div class="page-main">
      <partial src="_main.html"></partial>
    </div>
    <div class="page-aside">
      <partial src="_aside.html"></partial>
    </div>
    <div class="page-footer">
      <partial src="_footer.html"></partial>
    </div>
  </div>
</body>
</html>
