<aside class="aside">
    <div class="aside-main">
        <img src="./assets/images/fondo.jpg" alt="bienvenido a mi blog" class="aside-img">
        <h3 class="aside-title">Autor</h3>
        <p class="aside-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div> 
    <div class="aside-nav">
        <nav class="aside-nav-section">
            <ul class="aside-menu">
                <li class="aside-menu-item">Sección 1</li>
                <li class="aside-menu-item">Sección 2</li>
                <li class="aside-menu-item">Sección 3</li>
                <li class="aside-menu-item">Sección 4</li>
                <li class="aside-menu-item">Sección 5</li>
            </ul>
        </nav>
        
        <nav class="aside-nav-category">
            <ul class="aside-menu">
                <li class="aside-menu-item">Categoría 1</li>
                <li class="aside-menu-item">Categoría 2</li>
                <li class="aside-menu-item">Categoría 3</li>
                <li class="aside-menu-item">Categoría 4</li>
                <li class="aside-menu-item">Categoría 5</li>
            </ul>
        </nav>
    </div> 
</aside>