.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    margin-top: 10px;

    @media all and (min-width: 768px) {
        align-items: flex-start;
        padding-left: 10px;
    }
}

.header-img {
    width: 150px;
    height: 75px;
}