<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Adalab Web Starter Kit</title>
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="page">

    <form method="GET" action="./index.html">

      <label for="username">
        Nombre de usuario:
      </label>
      <input type="text" name="username" id="username">

      <label for="email">
        Email:
      </label>
      <input type="email" name="email" id="email">

      <label for="password">
        Contraseña:
      </label>
      <input type="password" name="password" id="password">

      <label>Acepta las condiciones de uso</label>
      <input type="radio" name="terms">

      <input type="submit" value="Enviar"/>

    </form>

  </div>
</body>
</html>
