<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>
    <div class="page">
      <partial src="_header.html"></partial>

      <div class="cities">
        <partial src="_city.html" cityName="Tokio" price="150" cityClass="tokio"></partial>
        <partial src="_city.html" cityName="Londres" price="290" cityClass="london"></partial>
        <partial src="_city.html" cityName="Londres" price="290" cityClass="london"></partial>
        <partial src="_city.html" cityName="Paris" price="190" cityClass="paris"></partial>
        <partial src="_city.html" cityName="Tokio" price="150" cityClass="tokio"></partial>
        <partial src="_city.html" cityName="Paris" price="190" cityClass="paris"></partial>
        <partial src="_city.html" cityName="Londres" price="290" cityClass="london"></partial>
        <partial src="_city.html" cityName="Tokio" price="150" cityClass="tokio"></partial>
      </div>
    </div>
  </body>
</html>
