.aside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;

  @media all and (min-width: 768px) {
    grid-template-columns: 1fr;
    padding-left: 50px;
  }

  &-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  &-nav {
    display: flex;
    flex-direction: column;

    @media all and (min-width: 768px) {
      align-items: flex-start;
    }
  }

  &-menu {
    list-style: none;

    @media all and (min-width: 768px) {
      padding-inline-start: 0;
    }
  }

}
